
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo


venv/
.env/
.venv/


.ipynb_checkpoints/


*.pt
*.pth
checkpoints/
runs/


*.log


.DS_Store
Thumbs.db

.history
.vscode/
.idea/


build/
dist/



.pytest_cache/
.coverage

# Data
data/raw/
data/processed/

